/target
.DS_Store
*.plugin

._*
crates/vdev-camera/VDCamera.xcodeproj
crates/vdev-camera/build/
crates/vdev-camera-ext/spike/build/
crates/vdev-camera-ext/spike/VDCameraSpike.xcodeproj/
crates/vdev-audio/build/

crates/vdev-camera-win/target/

crates/vdev-app-win/target/

crates/vdev-display-win/target/

crates/vdev-audio-win/target/
crates/vdev-hid-win/target/
