<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>vdev-camera</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>vdev-camera</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.1</string>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>CMIOExtension</key>
	<dict>
		<key>CMIOExtensionMachServiceName</key>
		<string>$(TeamIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>vdev-camera 需要安装摄像头扩展，以向系统提供虚拟摄像头（Rust 生成测试画面）。</string>
</dict>
</plist>
